# pywikibot files
apicache-py3
throttle.ctrl
user-config.py
user-password.py
pywikibot.lwp

# python files
__pycache__/

# my files
logs/
env/
core_stable/
example_movies/
outputs/
logs/
notes.txt
play.py



# other
.DS_Store