# pywikibot files
apicache-py3
throttle.ctrl
user-config.py
user-password.py
pywikibot.lwp

# python files
__pycache__/

# my files
logs/
storage/
xmldumps/
env/
core/
outputs/
notes.txt
play.py
compare.py
findspan.py



# other
.DS_Store
